.cp3{
	background:black;
	padding:0 10px;
	height:100px;
	display:inline-block;
	
	p{
		color:white;
		font-weight: bold;
		font-size: 18px;
		text-align: center;
		display: table;
		vertical-align: middle;
		height:100%;
	}
}